.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/PRENEX39.iml
.idea/vcs.xml
Tests/Signalerkennung/.idea/workspace.xml
src/ETArduino/KlasseInklRPI/Main/.vscode/ipch/eb11fb8ecf38637f/mmap_address.bin
src/ETArduino/KlasseInklRPI/Main/.vscode/ipch/e466faf0dc4ffd46/mmap_address.bin
src/ETArduino/KlasseInklRPI/Main/.vscode/ipch/dab769f4c11ddbb/mmap_address.bin
src/speedcontroller/__pycache__/mc_communication.cpython-37.pyc
